p{
    background: lightblue;
}

.layout{
    // display:grid;
    // grid-template-columns: 4.5fr 1fr;
    // min-height: 100vh;

    // &-content
    // {
    //     border: 2px solid red;;
    // }
    
    // &-sidebar{
        
    //     border: 2px solid black;;
    // }
}

